@font-face {
  font-family: 'NeutraText';
  src: url('/fonts/NeutraText-Book.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NeutraText';
  src: url('/fonts/NeutraText-BookItalic.otf') format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeutraText';
  src: url('/fonts/NeutraText-BoldItalic.otf') format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeutraText';
  src: url('/fonts/NeutraText-Bold.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
